GLD.Benchmark.XsltVsNet/XmlSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="HistoryRecord" nillable="true" type="HistoryRecord" />
  <xs:complexType name="HistoryRecord">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="CrimeCode" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employee" nillable="true" type="Employee" />
  <xs:complexType name="Employee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="FirstName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LastName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Age" type="xs:unsignedInt" />
      <xs:element minOccurs="1" maxOccurs="1" name="Gender" type="Gender" />
      <xs:element minOccurs="0" maxOccurs="1" name="Passport" type="Passport" />
      <xs:element minOccurs="0" maxOccurs="1" name="HistoryRecords" type="ArrayOfHistoryRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Gender">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Male" />
      <xs:enumeration value="Female" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Passport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Number" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Authority" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="ExpirationDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfHistoryRecord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HistoryRecord" nillable="true" type="HistoryRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Gender" type="Gender" />
  <xs:element name="Passport" nillable="true" type="Passport" />
  <xs:element name="PoliceRecord" nillable="true" type="PoliceRecord" />
  <xs:complexType name="PoliceRecord">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="CrimeCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Person" nillable="true" type="Person" />
  <xs:complexType name="Person">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="FirstName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LastName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Age" type="xs:unsignedInt" />
      <xs:element minOccurs="1" maxOccurs="1" name="Gender" type="Gender" />
      <xs:element minOccurs="0" maxOccurs="1" name="Passport" type="Passport" />
      <xs:element minOccurs="0" maxOccurs="1" name="PoliceRecords" type="ArrayOfPoliceRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfPoliceRecord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PoliceRecord" nillable="true" type="PoliceRecord" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>